
<div class="lincoapp-tab3" id="headNav">
    <div class="tab-scroll-wrap">
        <div class="nav-new" >
            <ul>
                <li data-channel="901212" data-type="tuijian">推荐</li>
                <li data-channel="900047" data-type="NBA">NBA </li>
                <li data-channel="900051" data-type="yingchao">英超</li>
                <li data-channel="900050" data-type="zhongchao">中超</li>
                <li data-channel="900052" data-type="xijia">西甲</li>
                <li data-channel="900056" data-type="ouguan">欧冠</li>
                <li data-channel="900058" data-type="yaguan">亚冠</li>
                <li data-channel="900048" data-type="CBA">CBA </li>
                <li data-channel="900053" data-type="yijia">意甲</li>
                <li data-channel="900054" data-type="dejia">德甲</li>
                <li data-channel="900062" data-type="fajia">法甲</li>
            </ul>
            <span class="line"></span>
        </div>
    </div>
    <div class="pull-down-load-tips" style="">
        <i class="iloading"></i><span class="txt">下拉刷新</span>
    </div>
</div>
<div id="mainSection" class="swiper-container home-swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
        <div class="swiper-slide"><div class="loading-tips1 l-btn-refresh1"><div><i class="iloading rotating"> </i>正在加载</div></div></div>
    </div>
</div>

