<div class="crumbs">
    <a class="active" href="<%= HOME_URL %>">首页</a>
    <i></i>
    <a href="javascript:;">资讯</a>
</div>
<div class="head" id="head">
    <div class="tag"><span></span>相关资讯</div>
</div>
<section class="sec-news-list" id="secNewsList">
    <ul class="clearfix"></ul>
</section>
<div class="separate-line"></div>
<div id="J_loading" class="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <p class="txt">数据加载中</p>
</div>