<nav id="insideNav" class="data-rank" >
    <ul class="clearfix">
        <li><a class="active"  href="" data-type="" data-saishiid="">重要</a></li>
        <li><a href="" data-type="nba" data-saishiid="900002">NBA</a></li>
        <li><a href="" data-type="yingchao" data-saishiid="900006">英超</a></li>
        <li><a href="" data-type="zhongchao" data-saishiid="900005">中超</a></li>
        <li><a href="" data-type="xijia" data-saishiid="900007">西甲</a></li>
        <li><a href="" data-type="ouguan" data-saishiid="900011">欧冠</a></li>
        <li><a href="" data-type="yaguan" data-saishiid="900013">亚冠</a></li>
        <li><a href="" data-type="cba" data-saishiid="900003">CBA</a></li>
        <li><a href="" data-type="yijia" data-saishiid="900008">意甲</a></li>
        <li><a href="" data-type="dejia" data-saishiid="900009">德甲</a></li>
        <li><a href="" data-type="fajia" data-saishiid="900017">法甲</a></li>
    </ul>
</nav>
<div class="crumbs">
    <div class="time all-time">
        <div class="cont">
            <span class="left"></span>
            <span class="middle" id="dateText"></span>
            <span class="right"></span>
        </div>
    </div>
</div>
<div class="data-main data-all">
    <div class="content">
        <!--<ul class="match-info">
            <li class="tit">2017-08-03 周四</li>
        </ul>-->
    </div>
</div>