<div class="main404">
    <div class="info-bg">
        <img class="b-img" src="<%= DIRS.BUILD_FILE.images['404n'] %>" alt=""/>
        <p class="ts">sorry！页面去打篮球了，暂时无法联系！</p>
        <a href="/" class="back-home">返回首页</a>
    </div>
    <div id="J_hot_news" class="hot-news">
        <div class="section-title hn-title"><h2>热点推荐</h2></div>
        <section class="sec-news-list"></section>
    </div>
</div>